/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.body {
    width: 100vw;
    height: 98vh;
}

/* TOP HEADER */
.header {
    background-color: #22262B;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    height: 45px;
}

.margin-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;
}

.top-header-nav-icon-container {
    display: flex;
    justify-content: space-between;
    width: 170px;
}

.nav-icon {
    width: 40px;
}

.nav-icon:hover {
    fill: #256AEA;
}

/* LEFT SIDE NAV */
.side-nav {
    height: calc(100vh - 100px);
    width: 120px;
    background-color: #22262B;
}

.side-menu {
    height: 55vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 0;
    list-style-type: none;
}

.side-nav-words {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}

/* MAIN */
main {
    margin-left: 120px;
    width: calc(100vw - 120px);
    height: calc(100vh - 100px);
    position: absolute;
    top: 100px;
    background-color: #F4F4F4
}

p {
    font-size: large;
}

/* TASK BOARD HEADER */
.board-controls-background {
    width: 100%;
    background-color: white;
}

.task-board-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #d8d8da;
}

.task-board-header-left-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 650px;
}

.task-board-header-text {
    margin-left: 40px;
}

.task-board-option-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 170px;
    height: 50px;
    border-radius: 15px;
    background-color: white;
}

.task-board-option-buttons:hover {
    background-color: #256AEA;
    color: white;
}

.task-board-header-right-container {
    display: flex;
    align-items: center;
    margin-right: 2.5%;
}

.people-icon {
    width: 55px;
    margin-right: 5px;
}

.additional-team-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 55px;
    height: 55px;
    border-radius: 30px;

}

.additional-team-number {
    font-size: 25px;
}

/* TASK BOARD CONTROLS */
.board-controls {
    display: flex;
    justify-content: flex-end;
    margin-right: 2%;
    background-color: white;
}

.board-control-buttons {
    background-color: white;
    border: none;
    width: 60px;
    transition: transform 300ms;
    transition: all 0.2s ease-in-out;
}

.board-control-buttons:hover {
    transform: scale(1.1);
    transition: transform 300ms;
    transition: all 0.2s ease-in-out;
}

.board-controls-icon {
    width: 30px;
}

.add-task-container {
    display: flex;
    justify-content: space-around;
    width: 160px;
    margin-right: 100px;
}

/* TASK CONTAINER */
.task-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #F4F4F4;
    border-top: 1px solid #d8d8da;
}

.task-row {
    display: flex;
    align-items: center;
    width: 95%;
    max-width: 1800px;
    height: 60px;
    background-color: white;
    box-shadow: 1px 2px #d8d8da;
    border-radius: 9px;
    border: 1px solid #d8d8da;
    margin-bottom: 10px;
    min-width: 1000px;  

}

.dot-menu {
    height: 30px;
    justify-content: flex-end;
} 

.dot-menu:hover {
    cursor: pointer;
}

.section-2,
.section-3,
.section-4,
.section-5,
.section-6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-1,
.section-2,
.section-3 {
    border-right: 1px solid #d8d8da;
}

.section-1 {
    width: 35%;
    margin-left: 20px;
}

.section-2, 
.section-3, 
.section-5 {
    width: 10%;
}

.section-4 {
    width: 33%;
}

.section-5 {
    color: white;
    font-weight: 600;
    border-radius: 15px;
    letter-spacing: 1px;
}

.section-6 {
    width: 2%;
}

.meter { 
  height: 20px;  
  width: 65%;
  position: relative;
  background: rgb(154, 154, 154);
  border-radius: 25px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  margin-right: 10px;
}

.meter > span {
  display: block;
  height: 100%;
  border-radius: 20px 20px 20px 20px;
  background-color: #256AEA;
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}

.red {
    background-color: red;
}

.blue {
    background-color: #256AEA;
}

.green {
    background-color: #06C716;
}

.yellow {
    background-color: #ffe310;
}

.purple {
    background-color: #A30AAF;
}

.task-row-header {
    box-shadow: none;
    border: none;
    margin: 20px 0 10px 0;
    height: 30px;
    background-color: #F4F4F4;
    color: black;
    font-weight: 600;
    border-right: solid 1px transparent;
}

.task-row-header-box {
    display: flex;
    justify-content: center;
    color: black;
    background-color: #F4F4F4;
    border-right: none;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 1450px) {
    .task-board-header-right-container {
        display: none;
    }

    .add-task-container {
        margin-right: 50px;
    }

    .section-2, 
    .section-3 {
        width: 15%;
    }

    .section-4 {
        width: 10%;
    }

    .section-5 {
        font-weight: 400;
        letter-spacing: 0;
        width: 20%;
    }
    
    .section-6 {
        width: 7%;
    }

    .meter {
        display: none;
    }
}

@media only screen and (max-width: 850px) {
    .task-container {
        overflow-y: auto;
        width: 300px;
    }
    .task-board-header-left-container {
        flex-direction: column;
        margin-bottom: 10px;
    }

    .logo {
        height: 20px;
    }
}
@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
